
.corpo-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 100px;
    width: 100%;
}
.topNews-container{
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #fff;
    border-radius: 1%;
}
.topNews-header{
    display: flex;
    border-radius: 1% 1% 0 0;
    height: 50px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    background-color: #ee9d00;
    color:white;
}
.topNews-card{
    padding: 5px;
    position: relative;
    max-width: 100%;
    text-align: justify;
    text-justify: inter-character;
}

.topNews-img{
    object-fit: cover;
    width: 100%;
    height: 142px;
    border: 1px solid #ccc;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(209, 109, 109, 0.3));
    transition: 0.4s;
}
.topNews-img-container{
    background-color: black;
}
.topNews-img:hover{
    opacity: 0.5;
}
.topNews-titulo{
    display: block;
    position: absolute;
    top: 75%;
    left: 50%;
    padding: 10px;
    margin: 0 auto;
    transform: translate(-50%,-50%);
    width: 95%;
    color: white;
    font-size: 14px;
    font-weight: bold;
}