*{
  margin: 0;
  padding: 0;
  outline:0;
  box-sizing: border-box;
}

html, body, #root{
  height: 100%;
}
body{
  background-color: #ddd;
}
body, input, button{
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: #212121;
}

.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: relative;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
  .show-xs{
    display: flex !important;
    justify-content: space-around;
    align-items: center;
  }
}